.header {
	width: 100%;
	/*border: 1px solid black;*/
}

.navbar {
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /*background-color: #333;*/
}

li {
    float: left;
}

.text {
	padding: 20px;
}

.link {
	float: right !important;
}

li a {
    display: block;
    float: right;
    color: black;
    text-align: center;
    margin-top: 35px;
    /*padding: 14px 16px;*/
    text-decoration: none;
    /*font-size: 20px;*/
}

li a:hover:not(.active) {
    /*border: 1px solid black;*/
}

body {
	/*float: left;*/
	margin: 0;
}

#logo {
	margin-left: 40px;
	height: 100%;
}

.social {
	margin-right: 20px;
	height: 50px;
}

.name {
	margin-top: 10px;
	height: 110px;
	/*float: left;*/
	/*border: 1px solid black;*/
	font-family: Verdana;
}

.row1 {
	/*margin-top: 400px;*/
	width: 100%;
}

.row2 {
	width: 100%;
}

.image1 {
	width: 60%;
	float: left;
}

.image2 {
	width: 40%;
	float: left;
}

.image {
	width: 30%;
	/*border: 1px solid black;*/
	height: 300px;
	float: left;
	/*margin: 0 5px 10px 5px;*/
	/*position: relative;*/
}

#baby {
	width: 100%;
}

#wedding {
	position: relative;
	top: 0;
	width: 100%;
}

.quote {
	float: right;
	/*background-color: pink;*/
	height: 200px;
	min-width: 400px;
	max-width: 500px;
}

#portrait {
	position: relative;
	top: -272px;
	width: 100%;
}

#bgPic {
	top: -40px;
	position: relative;
	width: 100%;
}